<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <style>
            h1{
                font-size: 40px;
                font-family: Roboto;
                font-weight: normal;
                color:rgb(255,0,0) ;
                text-align: centre;
            }
        </style>
         </head>
            <body>
                <h1>Its My Mantra</h1>
                <img src="https://2627a0f6-1ab2-4a20-9312-d127a7a85dc3-00-1wfmklkpb3am.pike.replit.dev/static/banner.jpg" height="320">
                <h2> Find your perfect match here </h2>
                <p> Advances in AI techniques have not only helped fuel an explosion in efficiency, but also opened the door to entirely new business opportunities for some larger enterprises. Prior to the current wave of AI, for example, it would have been hard to imagine using computer software to connect riders to taxis on demand, yet Uber has become a Fortune 500 company by doing just that.

                AI has become central to many of today's largest and most successful companies, including Alphabet, Apple, Microsoft and Meta, which use AI to improve their operations and outpace competitors. At Alphabet subsidiary Google, for example, AI is central to its eponymous search engine, and self-driving car company Waymo began as an Alphabet division. The Google Brain research lab also invented the transformer architecture that underpins recent NLP breakthroughs such as OpenAI's ChatGPT.

</p>
                <h2>Via below info</h2>
                
            </body>
</html>